@import "btnConfig";
@import "utilities";
@import "config";


//scss variables
$background: black;
$fonts: impact;
$nav-background:blue;
$nav-color: lightblue;
$nav-hover: lightgreen;
$page-header: yellow;
$post-header:white;
$post-background: coral;
$post-header: arial;
$post-body: arial;

